
@{
    ViewData["Title"] = "Analytics";
    var keys = new Analytics().GetType().GetProperties();
}

    <div class="text-center">
        <div class="inline-block max-width">
            <h3 class="inline-block">Employee Analytics</h3>
            <button class="btn btn-primary inline-block">Download Full Report</button>
        </div>
        <hr />
        <h4>Select Attribute To Analyze</h4>

        @foreach (var k in keys)
        {
            <form asp-action="Analytics" class="inline-block">
                <input hidden value="@k.Name" name="Target" />
                <input type="submit" value="@k.Name" class="btn btn-outline-primary" />
            </form>
        }
        <hr />
        <h3>Insights on @ViewBag.TargetName</h3>
        <div id="chartContainer" style="height: 370px; width: 100%; z-index:-100;"></div>
        <div id="chartContainer2" style="height: 370px; width: 100%;"></div>

        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </div>


@section scripts
{

    <script>

                // this.document.getElementById('chartContainer').style.visibility = "hidden";
    window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	animationEnabled: true,
    zoomEnabled: true,
    backgroundColor: "rgba(0,0,0,0)",
	title: {

        },
    axisY:{
        gridThickness: 0
      },
	data: [{
		type: "line",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
    });
        var g = @Html.Raw(ViewBag.DataPoints);
        if (g.length > 0) {
             this.document.getElementById('chartContainer').style.display = "block";
            chart.render();
        }
        else {
            this.document.getElementById('chartContainer').style.display = "none";
        }

        var chart2 = new CanvasJS.Chart("chartContainer2", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
     animationEnabled: true,
      backgroundColor: "rgba(0,0,0,0)",
	title: {
		text: "Automotive Semiconductor Vendors 2015",
		fontSize: 21
	},
	data: [{
		type: "pie",
		startAngle: 160,
		toolTipContent: "<b>{label}</b>: {y}%",
		indexLabel: "{label} - {y}%",
		dataPoints: @Html.Raw(ViewBag.DataPointsString)
	}]
        });
        var g = @Html.Raw(ViewBag.DataPointsString);
        if (g.length > 0)
        chart2.render();
}
    </script>
}
